{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <h3>Your Front Page</h3>
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('register') }}">Register</a>

{% endblock %}
