<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="">
<div class="bg-blue-800">
    <nav class="container mx-auto p-5">
        <ul class="text-white flex">
            <li class="flex-1">
                <a href="">Home</a>
            </li>
        </ul>
    </nav>
</div>
<main class="container mx-auto p-5">
    {% if(errors is defined) %}
        {% if(errors|length > 0) %}
            <ul class="border divide-black">

                {% for error in errors %}

                    <li class="bg-red-300 text-red-900 p-3 m-2"><b>{{ error.propertyPath }}</b> - {{ error.message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {% block body %}{% endblock %}
</main>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}

</body>
</html>
